body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

@font-face {
    font-family: IRANS;
    src: url("./font/IRANYekanBlack.ttf");
}

@font-face {
    font-family: IRANY;
    src: url("./font/IRANSansWeb.ttf");
}

a {
    text-decoration: none !important;
}

#shit {
    width: 100%;
}

#row {
    width: 100%;
    max-width: 1366px;
    margin: auto;
}

.header-index-page {
    width: 100%;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
}

.group-basket {
    width: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.group-icon-header {
    display: inline-block;
}

.group-basket:hover {
    background-color: #fff1f1;
}

.group-basket .fa-shopping-bag {
    font-size: 20px;
    padding-right: 17px;
    border-right: 1px solid #E0E0E2;
    color: #60646B;
}

.basket-number {
    position: absolute;
    bottom: -6px;
    right: 0;
    padding: 2px;
    box-sizing: border-box;
    font-size: 10px;
    border-radius: 3px;
    color: white;
    background-color: #EF394E;
}

.btn-register {
    padding: 8px 10px;
    font-size: 13px;
    bottom: 4px;
    position: relative;
    margin-left: 30px;
    font-family: IRANY;
    text-decoration: none;
    border-radius: 5px;
    color: #b8b8b8;
    border: 1px solid #E0E0E2;
}

.btn-register .fa-user {
    position: relative;
    top: 3px;
    right: 2px;
}

.logo-index-page {
    width: 132px;
    position: relative;
    top: 2px;
    left: 8px;
    height: 37px;
}

.group-logo {
    float: right;
}

.group-input-search {
    float: right;
    position: relative;
}

.group-input-search .fa-search {
    position: absolute;
    top: 12px;
    color: #b1b1b1;
    right: 12px;
}

.input-search-index-page {
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: IRANY;
    direction: rtl;
    text-align: right;
    padding: 5px 33px 5px 10px;
    font-size: 12px;
    background-color: #F0F0F1;
}

.btn-search-for-mobile, .group-btn-search-for-mobile {
    display: none;
}

.view-card-min {
    width: 280px;
    position: absolute;
    top: 41px;
    z-index: 5;
    background-color: white;
    left: 0;
    display: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(62, 62, 62, 0.5);
}

.view-card-min-count-product {
    float: right;
    text-align: right;
    direction: rtl;
    font-size: 12px;
    color: #777777;
    font-family: IRANY;
}

.view-card-min-view-all-product a {
    color: #3e8fd7;
    font-size: 12px;
    font-family: IRANY;
    margin-left: 15px;
    text-decoration: none;
}

.view-card-min-view-all-product .fa-caret-left {
    position: relative;
    top: 1px;
    right: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
    margin: 10px 0 0 0;
}

.view-products-card {
    width: 100%;
    height: 100px;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
}

.item-card {
    padding: 0;
    margin: 0;
}

.item-card li {
    margin-top: 5px;
    width: 100%;
    position: relative;
    list-style: none;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
}

.item-card li:nth-child(1) {
    margin-top: 0 !important;
}

.item-card li img {
    width: 80px;
    height: 80px;
    float: right;
}

.name-product-view-card {
    direction: rtl;
    font-family: IRANY;
    font-size: 10px;
    color: #838383;
}

.number-product-view-card {
    direction: rtl;
    float: right;
    font-family: IRANY;
    font-size: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: #535353;
}

.delete-product-card {
    position: absolute;
    bottom: 5px;
    left: 5px;
    cursor: pointer;
    font-size: 15px;
    color: #EF5562;
}

.view-total-price {
    width: 100%;
    height: 62px;
}

.total-price {
    color: #8c8c8c;
    font-size: 12px;
    text-align: right;
    direction: rtl;
    line-height: 32px;
    float: right;
    font-family: IRANY;
}

.btn-buy-view-card {
    padding: 5px 25px;
    font-family: IRANY;
    float: left;
    color: white;
    border-radius: 7px;
    margin-top: 18px;
    font-size: 14px;
    text-decoration: none;
    border:1px solid #EF394E ;
    transition: 0.2s;
    background-color: #EF394E;
}
.btn-buy-view-card:hover{
    background-color: unset;
    color: #1a1e21!important;
}
.btn-icon-card-min {
    background-color: unset;
    border: none;
    outline: none;
}

.view-list-user-panel {
    width: 150px;
    display: none;
    position: absolute;
    top: 57px;
    z-index: 5;
    left: 81px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    font-family: IRANY;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(62, 62, 62, 0.5);
}

.my-order-panel {
    text-decoration: none !important;
    color: #7a7a7a;
    font-size: 12px;
}

.btn-logout {
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 5px 0;
    font-size: 12px;
    border: none;
    outline:none;
    cursor: pointer;
    font-family: IRANY;
    margin-top: 10px;
    background-color: #EF394E;
}

.nax-bar-index-page {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 10px 10px rgba(226, 226, 226, 0.5);
    padding: 10px;
    box-sizing: border-box;
}

.view-list-user-panel span p {
    font-size: 12px;
}

.group-location i {
    color: #3b3b3b;
    position: relative;
    top: 2px;
}

.group-location {
    padding: 5px;
}

.group-menu-index-page {
    float: right;
}

.ul-nav-bar {
    margin: 0;
    padding: 0;
}

.ul-nav-bar li {
    float: right;
    padding: 7px 16px;
    font-family: IRANY;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    list-style: none;
}

.ul-nav-bar li:after {
    content: '';
    width: 0;
    height: 2px;
    opacity: 0;
    background-color: #EF394E;
    position: absolute;
    bottom: -6px;
    right: 0;
    transition: 0.4s;
}

.ul-nav-bar li:hover:after {
    content: '';
    opacity: 1;
    width: 100%;
}

.group-location span {
    font-size: 12px;
    color: #3b3b3b;
    position: relative;
    bottom: 2px;
    left: 10px;
    font-family: IRANSansWeb;
}

.group-location {
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.group-location:hover {
    background-color: #fff1f1;
}

.li-action-edit {
    padding-left: 50px;
    border-left: 1px solid #ececec;
}

.btn-btn-search-for-mobile-menu {
    background-color: unset;
    border: none;
    outline: none;
    float: right;
}

.logo-index-page-menu {
    display: none;
}

.blur-web {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    background-color: #464646;
    top: 0;
    display: none;
    left: 0;
    opacity: 42.5%;
}

.view-all-menu-item {
    width: 100%;
    height: auto;
    display: none;
    position: relative;
    background-color: red;
}

.group-item-all-menu {
    width: 80%;
    position: absolute;
    top: 0;
    max-height: 380px;
    min-height: 380px;
    left: 0;
    box-sizing: border-box;
    padding: 5px 18px;
    display: inline-block;
    background-color: #ffffff;
}

.group-item-navbar {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: auto;
    background-color: #ffffff;
}

.group-item-navbar div {
    text-align: right;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    color: #6b6b6b;
    font-family: IRANY;

}

.group-item-navbar div:hover {
    background-color: #fcfcfc;
}

.group-item-select-menu {
    float: right;
    margin: 0 10px;
}

.group-item-select-menu * {
    font-family: IRANY;
}

.group-item-select-menu p {
    font-size: 12px;
    cursor: pointer;
}

.group-item-select-menu p:hover {
    color: #EF5461;
}

.group-item-select-menu h4 {
    font-size: 15px;
    cursor: default;
}

.icon-exit-all-menu {
    position: absolute;
    top: 0;
    cursor: pointer;
    border-radius: 5px;
    left: 0;
    padding: 5px;
    color: #727272;
}

.icon-exit-all-menu:hover {
    background-color: #ffe7e7;
    color: #474747;
}

.none-btn {
    background-color: unset;
    border: none;
    outline: none;
}

.slider-page {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    padding: 10px;
    z-index: 2;
}

.span-right-slider-page {
    width: 64.5%;
    float: left;
    height: 100%;
}

.span-right-slider-page img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.span-left-slider-page {
    width: 34.5%;
    height: 100%;
    float: right;
}
.btn-cls{
    padding: 2px 15px;
    border: 1px solid #ff7676;
    color: #505050;
    transition: 0.2s;
    border-radius: 10px;
    cursor: pointer;
}
.gp-all{
    padding: 10px ;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
}
.btn-cls:hover{
    color: white;
    background-color:#ff7676 ;
}
.slider-page-for-img-left {
    width: 100%;
    height: 48.6%;
    margin: 5px 0;
    float: left;
    overflow: hidden;
    border-radius: 5px;
}

.slider-page-for-img-left img {
    width: 100%;
    height: 100%;
}

.view-products-buy-good {
    width: 100%;
    margin-top: 25px;
    height: 510px;
    background-color: #ED394D;
}

.view-img-buy-good {
    float: right;
    width: 300px;
    height: 100%;
    padding: 22px 9px;
    box-sizing: border-box;
}

.view-img-buy-good img {
    width: 100%;
    transform: scale(0.8);
    height: 100%;
}

.view-product-buy-good-list {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.view-product-buy-good-list-all {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    margin-top: 25px;
}

.view-product-buy-good-list-one {
    height: 100%;
    width: 260px;
    margin: 0 0px;
    border-radius: 10px;
    float: right;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.slick-prev {
    position: absolute;
    top: 50% !important;
    z-index: 3;
    left: 0 !important;
}

.slick-slide {
    margin: 0 5px;
    outline: none;
}

.view-product-buy-good-list-one {
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.view-product-buy-good-list-one img {
    width: 100%;
    transform: scale(0.7);
    height: 300px;
}

.title-view-product-buy-good-list-one {
    font-family: IRANY;
    font-size: 12px;
    color: #777777;
    text-align: right;
    direction: rtl;
}

.price-view-product-buy-good-list-one .off-view-product-buy-good-list-one {
    padding: 2px 7px;
    background-color: #ff4c4c;
    border-radius: 5px;
    font-family: IRANY;
    font-size: 13px;
    color: white;
}

.price-view-product-buy-good-list-one .price-off-view-product-buy-good-list-one {
    font-family: IRANY;
    font-size: 13px;
    margin-left: 10px;
    color: #a7a7a7;
    text-decoration: line-through;
}

.price-p-view-product-buy-good-list-one {
    font-family: IRANY;
    font-size: 15px;
    text-align: right;
    color: #414141;
}

.group-index-page-banner-up {
    width: 100%;
    height: 234px;
    margin-top: 10px;
}

.view-banner-up {
    width: 23%;
    border-radius: 5px;
    float: right;
    height: 100%;
    margin: 0 10px;
}

.view-banner-up img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
}

.center-abject-div {
    width: auto;
    height: 100%;
    margin: auto;
}

.view-products-super {
    background-color: #6BB927 !important;
}

.view-product-one {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    height: 400px;
}

.view-slider-products {
    width: 74%;
    height: 100%;
    float: right;
    padding: 10px;
    /*    margin-top: 30px;*/
    overflow: hidden;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}

.view-timer-products {
    width: 25%;
    height: 100%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
}

.view-slider-products h3 {
    text-align: right;
    padding: 0 0 10px 0;
    float: right;
    font-family: IRANYekan;
    border-bottom: 1px solid #ff5b5b;
    font-size: 15px;
    z-index: 2;
    color: #474747;
}

.view-timer-products h3 {
    text-align: center;
    padding: 0 0 10px 0;
    font-family: IRANYekan;
    border-bottom: 1px solid #ff5b5b;
    font-size: 13px;
    z-index: 2;
    color: #474747;
}

.view-slider-products .line {
    position: relative;
    top: 41px;
    z-index: -1;
    margin-right: 50px;
}

.group-view-products-slider {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 317px;
    position: absolute;
    left: 0;
    bottom: 0 !important;
}

.group-view-products-slider span {
    width: 200px !important;
    height: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    transition: 0.2s;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.group-view-products-slider span img {
    width: 100%;
}

.group-view-products-slider span:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.group-view-products-slider {
    margin: 33px 0;
}

.group-view-products-slider .slick-list {
    width: 100% !important;
}

.group-view-products-slider .view-products-slider-name, .view-timer-products .view-products-slider-name {
    font-family: IRANYekan;
    font-size: 12px;
    direction: rtl;
    color: #5d5d5d;
}

.group-view-products-slider .view-products-slider-price, .view-timer-products .view-products-slider-price {
    font-family: IRANYekan;
    font-size: 13px;
    direction: rtl;
    color: #404040;
    text-align: left;
}

.number-off-price {
    float: right;
    padding: 5px 10px;
    background-color: red;
    border-radius: 1px;
    font-family: IRANYekan;
    font-size: 12px;
    color: white;
}

.view-products-slider-price-back-off {
    text-decoration: line-through;
    font-family: IRANYekan;
    font-size: 13px;
    direction: rtl;
    color: #404040;
    text-align: left;
}
.view-brand{
    width: 200px;
    height: 50px;
    float: left;
}
.view-brand img{
    width: 100%;
    height: 35px;
}
.view-off-product{
    padding: 5px 10px;
    border-radius: 200px;
    background-color: red;
    color: white!important;
}
.view-timer-products span img {
    width: 100% !important;
}

.group-off-product-mobile-index-page > div {
    width: 100%;
    height: 300px;
}

.group-off-product-mobile-index-page > div .item-off-mobile {
    width: 100% !important;
    height: 100%;
}

.group-off-product-mobile-index-page > div .item-off-mobile img {
    width: 64%;
    margin: auto;
}

footer {
    width: 100%;
    background-color: #e6e9e9;
}

footer .group-view-tb {
    width: 100%;
}

footer .div-view-tb {
    width: 95%;
    margin: auto;
    display: flex;
    padding: 10px 5px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
}

.group-tb-icon img {
    position: relative;
    margin: auto;
    left: -6px;
    transform: scale(0.5);
}

.group-tb-icon p {
    font-family: IRANYekan;
    color: #242424;
    font-size: 12px;
    text-align: center;
}

.group-et {
    width: 100%;
    padding: 20px;
    height: 500px;
    box-sizing: border-box;
}

.group-et span {
    width: 33.333%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    float: right;
}

.group-et span p {
    font-family: IRANYekan;
    font-size: 17px;
    color: #181818;
}

.group-et span li {
    font-family: IRANYekan;
    font-size: 14px;
    text-align: right;
    margin: 10px 0;
    list-style: none;
    color: #484848 !important;
}

.group-et span li a {
    color: #484848 !important;
}

.page-group-form {
    width: 100%;
    height: 100vh;
    position: relative;
}

.group-login-register {
    width: 350px;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: 50%;
    padding: 20px;
    box-sizing: border-box;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid #eaeaea;
}

.group-logo-for-form-login-register img {
    width: 100%;
    margin: auto;
    transform: scale(0.5);
}

.group-text-for-form-login-register h3 {
    text-align: right;
    font-family: IRANYekan;
    color: #4a4a4a;
}

.text-right {
    display: block;
    width: 100%;
    text-align: right
}

.group-input-for-login-register input[type=email], .group-input-for-login-register input[type=password], .group-input-for-login-register input[type=text] {
    width: 100%;
    height: 40px;
    border: 1px solid #d9d9d9;
    font-family: IRANYekan;
    border-radius: 5px;
    text-align: right;
    direction: rtl;
    outline: none;
    background-color: #ffffff;
    padding: 5px 10px;
    box-sizing: border-box;
}

.input-register-S {
    margin: 10px 0 !important;
}

.label-form-register-login {
    font-family: IRANYekan;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #8f8f8f;
}

.group-check-box-form-login {
    margin-top: 10px;
}

.btn-form-for-login-register {
    width: 100%;
    padding: 10px 0;
    background-color: #EF394E;
    text-align: center;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;
    font-family: IRANYekan;
    color: white;
    outline: none;
    cursor: pointer;
}

.btn-forget-password {
    color: #8f9fff;
    font-family: IRANYekan;
    font-size: 13px;
}

.group-icon-google-form-login-register {
    padding: 30px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.group-icon-google-form-login-register i {
    color: #39afef;
    cursor: pointer;
    font-size: 20px;
}

.invalid-feedback p {
    text-align: center;
    font-size: 13px;
    color: #EF394E;
    direction: rtl;
    font-family: IRANYekan;
}

.err-input-form-register-login {
    border: 1px solid #EF394E !important;
}

.input-pass input {
    width: 48% !important;
}

.fl-right {
    float: right;
}

.fl-left {
    float: left;
}

.view-err {
    background-color: #fffafa;
    border-radius: 5px;
}

.view-err p {
    text-align: center;
    direction: rtl;
    color: #ff1e1e;
    margin: 0;
    padding: 5px;
    font-family: IRANYekan;
}

.p-el {
    font-family: IRANYekan;
    font-size: 10px;
    color: #6d6d6d;
}

.menu-view {
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    margin: 10px 0;
}

.view-menu-product {
    width: 75%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    background-color: #ffffff;
}

.view-menu-item-filter {
    width: 25%;
    height: auto;
    padding: 5px;
    border-radius:10px ;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 5px;
    display: inline-block;
}

.group-filter {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: #ffffff;
}

.sm-filter {
    width: 100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
}

.group-filter:nth-child(1) {
    margin: 0 !important;
}

.p-sm-filter {
    font-family: IRANYekan;
    color: #2b2b2b;
    font-size: 14px;
}

.p-sm-filter button {
    padding: 5px 10px;
    font-family: IRANYekan;
    font-size: 12px;
    color: #414141;
    border: none;
    margin: 0 10px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: unset;
}

.p-sm-filter button:hover {
    background-color: #fafafa;
}

.view-product-menu-search {
    width: 100%;
    margin-top: 10px;
}

.products-menu {
    width: 25%;
    height: auto;
    padding: 10px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: 0.2s;
    border: 1px solid #f8f8f8;
}

.products-menu:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

.view-menu-item-filter i {
    display: none;
}

.img-product-menu {
    margin: auto;
    transform: scale(0.8);
    width: 100%;
    background: unset!important;
}

.p-product-menu {
    text-align: right;
    font-family: IRANYekan;
    direction: rtl;
    font-size: 12px;
    color: #474747;
}

.price-product-menu {
    direction: rtl;
    text-align: left;
    color: #262626;
    font-family: IRANYekan;
    font-size: 15px;
}

.price-product-menu b {
    font-size: 18px !important;
}

.fa-filter {
    display: none;
}

.products-menu .number-off-price {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
}

.border-off {
    border: #fddddd 1px solid;
}

.title-name-filter {
    font-size: 14px;
    font-family: IRANYekan;
    color: #353535;
}

.group-title-filter  select {
    width: 100%;
    outline: none;
    height: 35px;
    margin: 10px 0;
    border: 1px solid #cacaca;
    border-radius: 5px;
    font-family: IRANYekan;
    font-size: 14px;
}

.group-title-filter form button {
    width: 100%;
    padding: 7px 0;
    font-family: IRANYekan;
    text-align: center;
    color: white;
    outline: none;
    cursor: pointer;
    background-color: #43a2ec;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

.group-title-filter form button:hover {
    box-shadow: 1px 1px 8px rgba(48, 48, 48, 0.4);
}

.group-view-product-all {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.group-index-view-product {
    width: 100%;
    height: 500px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 10px;
}

.group-image-product-one-page {
    width: 33.3333%;
    height: 100%;
    float: right;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.group-dis-product-one-page {
    width: 33.3333%;
    height: 100%;
    float: right;
    padding: 15px;
    box-sizing: border-box;
}

.group-item-buy-product {
    width: 33.3333%;
    height: 100%;
    float: right;
    padding: 15px;
    box-sizing: border-box;
}

.group-view-image-index {
    width: 300px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    height: 300px;
}

.group-view-image-index img {
    width: 100%;
    height: 100%;
}

.group-item-image-select {
    width: 100%;
    margin-top: 5px;
}

.item-image-select {
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px 5px;
}

.item-image-select:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
}

.item-image-select img {
    width: 100%;
    height: 100%;
}

.name-product {
    font-family: IRANYekan;
    font-size: 16px;
    color: #292929;
}

.count-comment {
    padding: 10px;
    box-sizing: border-box;
}

.set-font {
    font-family: IRANYekan;
    color: #242424;
}

.name-product-attr {
    color: #222222 !important;
    margin: 40px 0 0 0;
}
a:hover{
    color: unset!important;
}
.group-dis-product-one-page li {
    text-align: right;
    font-size: 12px;
    direction: rtl;
    color: #353535;
    padding: 8px 5px 0 0;
    list-style: none;
}

.group-dis-product-one-page li i {
    position: relative;
    top: 2px;
    color: #ffa4a4;
}

.group-buy-product {
    overflow: hidden;
    width: 100%;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    height: 100%;
    border: 1px solid #bfbfbf;
    margin: auto;
    background-color: #f8f8f8;
}

.f-9 {
    font-size: 9px;
}

.f-10 {
    font-size: 10px;
}

.f-11 {
    font-size: 11px;
}

.f-12 {
    font-size: 12px;
}

.f-13 {
    font-size: 13px;
}

.f-14 {
    font-size: 14px;
}

.f-15 {
    font-size: 15px;
}

.f-16 {
    font-size: 16px;
}

.f-17 {
    font-size: 17px;
}

.f-18 {
    font-size: 18px;
}

.f-19 {
    font-size: 19px;
}

.f-20 {
    font-size: 20px;
}

.f-21 {
    font-size: 21px;
}

.f-22 {
    font-size: 22px;
}

.color-b-100 {
    color: #fcfcfc;
}

.color-b-200 {
    color: #f5f5f5;
}

.color-b-300 {
    color: #e5e5e5;
}

.color-b-400 {
    color: #c8c8c8;
}

.color-b-500 {
    color: #b1b1b1;
}

.color-b-600 {
    color: #919191;
}

.color-b-700 {
    color: #727272;
}

.color-b-800 {
    color: #565656;
}

.color-b-800 {
    color: #353535;
}

.color-b-900 {
    color: #1c1c1c;
}

.color-b {
    color: #000000;
}

.view-dl {
    padding: 20px;
    text-align: right;
    position: relative;
    direction: rtl;
    box-sizing: border-box;
}

.view-dl i {
    position: relative;
    top: 4px;
    left: 7px;
}

.arrow-dl {
    position: absolute !important;
    left: 0 !important;
    top: 29px !important;
}

.btn-send-card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    background-color: #ff5a5a;
}

.group-item-buy-product {
    background-color: white;
}

.view-price-for-mobile {
    display: none;
}

.group-view-product-all .slick-next {
    display: none !important;
}

.group-view-products-slider {
    background-color: white;
}

.group-view-dis-one-product {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
}

.group-view-dis-one-product ul {
    margin: 0;
    padding: 0;
}

.group-view-dis-one-product li {
    float: right;
    list-style: none;
    padding-bottom: 10px;
    cursor: pointer;
    margin: 5px 10px;
}

.min-view-comment button {
    padding: 5px 15px;
    border: none;
    background: unset;
    outline: none;
    margin: 10px 10px;
}

.min-view-comment ul {
    margin: 0;
    padding: 0;
}

.border-item {
    border-bottom: 1px solid #e03939;
}

.title-dis {
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 2px solid #e03939;
}

.min-view-comment {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
}

.min-view-comment ul {
    margin: 0;
    padding: 0;
}
.min-view-comment li {
    list-style: none;
    width: 100%;
    height: auto;
    margin-top:15px ;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #f6f6f6;
    background-color: #ffffff;
}
.reply-comment{
    width: 95%!important;
    background-color: #f5fff2 !important;
}
.title-comment{
    font-size: 15px;
}
.btn-et{
    transition: 0.2s;
    border-radius: 200px;
}
.btn-et:hover{
    background-color: #edf2ff;
}
.table th , .table td{
    width: 50%!important;
    text-align: right!important;
}
.view-err-sm{
    background-color: #3c3c3c;
    color: white;
    border-radius: 200px;
    cursor: default;
    text-align: center;
    z-index: 15;
    position: fixed;
    top: 50%;
    display: none;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: IRANYekan;
    font-size: 11px;
}
.page-reply-comment-product{
    width: 100%;
    max-width: 500px;
    display: none;
    height: 455px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    position: fixed;
    top:50%;
    z-index: 16;
    left: 50%;
    transform: translate(-50%,-50%);
}
.view-msg-send-back{
    background: #12b912;
    color: white;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
}
.page-reply-comment-product textarea , .group-form-new-comment textarea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
    margin-top: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    text-align: right;
    direction: rtl;
    outline: none;
    background-color: #ffffff;
    padding: 5px 10px;
    box-sizing: border-box;
}
.page-reply-comment-product button{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    background-color: #EF394E;
    text-align: center;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    font-family: IRANYekan;
    color: white;
    outline: none;
    cursor: pointer;
}
.view-new-comment{
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    bottom: 15px;
    z-index: 5;
    cursor: pointer;
    background-color: #EF394E;
    right:15px;
    border-radius: 10px;
    animation: view_comment_box 1s infinite linear;
}
.view-new-comment i{
    color: white;
    font-size: 20px;
}
.group-form-new-comment{
    width: 100%;
    max-width: 500px;
    padding: 10px;
    display:none;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 16;
    transform: translate(-50%,-50%);

}
.view-product-vs-1{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 64px;
    right: 15px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(55, 55, 55, 0.5);
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
}
.view-product-vs-2{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 190px;
    right: 15px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(55, 55, 55, 0.5);
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
}
.view-btn-f-vs{
    position: fixed;
    bottom: 159px;
    right: 48px;
    display: none;
    padding: 10px;
    background-color: #ff4b4b;
    color: white!important;
    border-radius: 50%;
    transition:0.5s;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.w-75{
    width: 75%;
}
.w-100{
    width: 100%;
}
.h-25{
    height: 25%;
}
.h-50{
    height: 50%;
}
.h-75{
    height: 75%;
}
.h-100{
    height: 100%;
}
.back-test{
    background-color: red;
}
.view-all-product-vs{
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    float: right;
    box-shadow: 1px 1px 10px rgba(0,0,0,.5);
    box-sizing: border-box;
}
.view-product-1 img,.view-product-2 img{
    width: 50%;
    margin: auto;
}
.view-btn-f-vs a{
    color: white!important;
}
.view-btn-f-vs:hover{
    transform: rotate(360deg);
}
.view-icon-plus{
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 164px;
    right: 15px;
    border-radius: 50%;
    overflow: hidden;
    color: white;
    box-shadow: 1px 1px 10px rgba(55, 55, 55, 0.5);
    background-color: #ff4b4b;
    padding: 15px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.page-select-item-vs{
    width: 100%;
    height: 400px;
    background-color: white;
    display: none;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    max-width: 500px;
}
.view-product-and-vs{
    width: 100%;
    height: 100px;
    padding: 5px;
    transition: 0.2s;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 1px solid #cdcdcd;
}
.view-product-and-vs img{
    width: 100px;
    height: 100%;
}
.search-product-vs{
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    margin: 10px 0;
    outline: none;
    box-sizing: border-box;
    background-color: unset;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
.view-name-product-vs{
    line-height: 100px;
    float: right;
    margin-right: 10px;
}
.view-product-and-vs:hover{
    background-color: #fcfcfc;
}
@keyframes clickOpenbtn {
    0%{
        width: 25%;
        height: 25%;
        opacity: 0.5%;
    }
    25%{
        width: 50%;
        height: 50%;
        opacity: 0.5%;
    }
    50%{
        width: 100%;
        height: 100%;
        opacity: 1%;
    }
    75%{
        width: 50%;
        height: 50%;
        opacity: 0.5%;
    }
    100%{
        width: 25%;
        height: 25%;
        opacity: 0;
    }
}
.view-product-vs-1 img , .view-product-vs-2 img{
    width: 100%;
    height: 100%;
}
.view-vs-product{
    right: 120px;
}
.group-form-new-comment input{
    margin: 10px 0;
}
.group-form-new-comment span{
    width: 49%;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.group-form-new-comment span p{
    margin: 0;
    padding: 0;
}
.group-form-new-comment span a{
    width: 100%;
    display: block;
    border-bottom: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 0;
    background-color: #65baff;
}
.group-not-good-product{
    background-color: #ffebeb;
}
.group-form-new-comment span select {
    width: 49%;
    height: 25px;
    outline: none!important;
    margin: 5px 0;
    border: none;
    font-family: IRANYekan;
}
.group-good-product{
    background-color: #e9fff3;
}
.input-set-voet{
    width: 49% !important;
    padding: 5px!important;
    position: relative;
    bottom: 6px;
    box-sizing: border-box;
    height: 25px!important;
}
.group-form-new-comment form button{
    padding: 10px 0;
    border-radius: 10px;
    color: white;
    width: 100%;
    border: none;
    background-color:#EF394E ;
    font-family: IRANYekan;
}
.set-vote{
    padding: 2px 0!important;
    outline: none;
    background-color: #c4eaff !important;
}
.view-filter-send{
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #d2d2d2;
    transition: 0.2s;
}
.view-filter-send:hover{
    background-color: #ff6161;
    border: 1px solid #ff6161;
    color: white;
}
.group-profile-user{
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    box-sizing: border-box;
    height: 650px;
}
.group-profile-user > div{
    width: 100%;height: 100%;
}
.view-option-profile{
    width: 75%;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
}
.view-option-profile >div{
    width: 100%;
    height: 100%;background-color: white;
    border-radius: 10px;
}
.view-menu-profile{
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
}
.view-menu-profile>div{
    width: 100%;
    height: 100%;background-color: white;
    border-radius: 10px;
}
.group-view-index-profile img{
    width: 50px;
    height: 50px;
    float: right;
}
.group-view-index-profile{
    width: 100%;
    padding: 5px ;
    box-sizing: border-box;
    float: left;
}
.text-view-profile{
    margin: 0 10px;
}
.view-menu-profile .line{
    margin: 76px 0 0 0 !important;
}
.group-view-menu-profile{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.group-view-menu-profile ul{
    margin: 0;
    padding: 0;
}
.group-view-menu-profile li{
    list-style: none;
    text-align: right;
    margin: 25px 0;
}
.view-profile-index-user{
    width: 100%;
    height: 100%;
}
.view-profile-index-user-profile{
    width: 50%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.view-profile-index-user-profile > span{
    width: 100%;
    height: 100%;
    float: right;
}
.view-profile-index-user-buy{
    width: 50%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.view-profile-index-user-buy > span{
    width: 100%;
    float: left;
    height: 100%;
}
.view-item-profile-min{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    height: 70px;
    background-color: #f5f5f5;
}
.view-item-profile-min span{
    line-height: 50px;
}
.view-list-buy{
    width: 100%;
    height: 511px;
    margin: 10px 0;
    float: left;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: #f5f5f5;
}
.view-list-buy ul{
    margin: 0;
    padding: 0;
}
.view-list-buy li{
    list-style: none;
    width: 100%;
    margin: 5px 0;
    padding: 15px 0;
    float: right;
    border-bottom: 1px solid #e9e9e9;
    text-align: right;
    box-sizing: border-box;
}
.view-list-buy li .p{
    position: relative;
    right: 10px;
    float: right;
}
.btn-view-et-buy{
    padding: 2px 10px ;
    box-sizing: border-box;
    float: left;
    position: relative;
    left: 10px;
    border-radius: 150px;
    transition: 0.2s;
    cursor: pointer;
    border: 1px solid #ff5555;
}
.btn-view-et-buy:hover{
    background-color:#ff5555 ;
    color: white;
}
.page-view-sm-buy{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: none;
    max-width: 500px;
    z-index: 10;
    background-color: white;
}
.list-order{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: #f8f8f8;
}
ul{
    margin: 0;
    padding: 0;
}
.list-order li{
    text-align: right;
    padding: 10px 0;
    margin: 5px 0;
    height: 41px;
    box-sizing: border-box;
    border-bottom: 1px solid #e9e9e9;
    list-style: none;
}
.group-view-et-order{
    margin: 10px 0;
    height: 20px;
}
.view-option-profile > i{
    position: relative;
    bottom: 10px;
    display: none;
}
.IconHideMenuForMobile{
    display: none;
}
.group-my-order{
    width: 100%;
    height: 100%;
}
.group-my-order > span{
    width: 100%!important;
}
.view-product-save{
    width: 200px;
    height: 300px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #dedede;
    overflow: hidden ;
    transition: 0.2s;
}
.view-product-save img{
    width: 100%;
    border-radius: 5px;
}
.view-product-save:hover{
    box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}
.view-product-save-icon-delete{
    color: #ff4343;
    z-index: 8;
}
.group-icon-delete-save-product{
    width: 200px;
    float: right;
}
.view-list-buy li{
    position: relative;
}
.view-list-buy li > i{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #1b5d36;
    font-size: 35px;
    transform: translate(-50%,-50%);
}
.group-item-address{
    width: 100%;
    margin: 10px 0;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: #fcfcfc;
    border: 1px solid #f1f1f1;
}
.group-item-address label{
    position: relative;
    bottom: 2px;
}
.btn-new-address{
    position: absolute;
    top: 0;
    left: 0;
    background: unset;
    border: 1px solid #ff4d4d;
    border-radius: 100px;
    padding: 5px 20px;
    transition: 0.2s;
    outline: none;
    cursor: pointer;
}
.btn-save-address{
    left: 112px!important;
}
.btn-new-address:hover{
    background: #ff4d4d;
    color: white;
}
.form-new-address select{
    width: 49%;
    padding: 10px 0;
    border-radius: 5px;
    margin: 10px 0;
    outline: none;
    background-color: #f5f5f5;
    border: none;
}
.show-msg{
    padding: 5px 0;
    background-color: #65cc8f;
}
.btn-save-address{
    border: 1px solid #65cc8f;
}
.btn-save-address:hover {
    background-color: #65cc8f!important;
}
.form-new-address textarea{
    height: 100px!important;
    max-height: 100px!important;
    min-height: 100px!important;
}
.form-new-address button{
    width: 20%!important;
    outline: none;
    cursor: pointer;
    float: right!important;
    margin: 10px 10px!important;
    padding: 5px 15px!important;
}
a:hover{
    color:white;
}
.cls{
    background-color: #cdcdcd !important;
}
.checkedInputAddress{
    background-color: #2a73b0!important;
}
.group-null{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.view-message-for-user{
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
}
.view-message-title-for-user{
    width: 100%;
    padding: 5px;
    box-sizing:border-box;
    height:auto;
    background-color: #f1f1f1;
}
.view-message-text-for-user{
    padding: 10px;
    box-sizing: border-box;
}
.view-message-data-for-user{
    padding: 10px ;
    background-color: #f3f3f3;
    box-sizing: border-box;
}
.view-message-text-for-user p{
    line-height: 30px;
}
.test{
    width: 100%;
    height: 200px;
    background-color: red;
}
.part-profile{
    width: 50%;
    height: 100%;
}
.view-item{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.view-item p{
    margin: 5px;
    padding: 5px;
}
.view-item i{
    position: absolute;
    top: 50px;
    color: #EF394E;
    cursor: pointer;
    left: 5px;
}
.view-item i:after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    border-radius:50% ;
    padding:0;
    opacity: 0;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #b3b3b3;
}
.view-item i:hover:after{
    animation: select_item_pen 0.5s forwards linear;
}
.input-edit{
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    height: 30px;
    background-color: unset;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}
.view-err-card:after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    border-radius:100px ;
    padding:5px;
    opacity:100%;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #b3b3b3;
    animation: select_item_pen 0.4s infinite linear;

}
.view-search-product{
    width: 500px;
    border-radius: 5px;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 60px;
    z-index: 2;
    display: none;
    overflow-y: scroll;
    right: 152px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow:1px 10px 10px rgba(0,0,0,.5);
}
.text-not-product-search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.view-search-product > a{
    width: 100%;
    padding: 5px;
    height: auto;
    position: relative;
    float: right;
}
.view-search-product img{
    width: 50px;
    height: 50px;
    float: right;
}
.view-search-product > a .name-product-search{
    float: right;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: right;
    direction: rtl;
    transform: translate(-50%, -50%);
}
.off-product-search{
    position: absolute;
    top: 50%;
    background: red;
    transform: translate(0%,-50%);
    padding: 10px;
    border-radius: 100px;
    color: white;
}
.page-all-admin{
    width: 100%;
}
.part-menu-panel-admin{
    width: 20%;
    background-color: #efefef;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
}
.part-menu-panel-admin img{
    margin: 0 83px;
    width: 80px;
}
.part-view-panel-admin{
    width: 80%;
    padding: 10px;

    box-sizing: border-box;
    background-color: #ffffff;
    height: 100vh;
}
.part-menu-panel-admin li{
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    padding: 5px 0;
    margin:5px 0 ;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
*{
    font-family: IRANY;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #fafafa;
}
.view-title-menu{
    padding: 5px 0;
    color: white;
    border-radius: 100px;
    background-color: #ff5165;
}
.btn-delete{
    padding: 5px 20px;
    color: white;
    border-radius: 5px;
    border: 1px solid #ff4242;
    background-color: #ff4242;
}
.btn-delete:hover{
    color: #393939!important;
    background-color: unset;
}
.btn-create{
    padding: 5px 20px;
    color: white;
    border-radius: 5px;
    border: 1px solid #40b833;
    background-color: #40b833;
}
.btn-create:hover{
    color: #393939 !important;
    background-color: unset;

}
.btn-war{
    padding: 5px 20px;
    color: white;
    border-radius: 5px;cursor: pointer;
    border: 1px solid #faae46;
    background-color: #faae46;
}
.btn-war:hover{
    color: #393939 !important;
    background-color: unset;

}
.view-min-product-factor{
    width: 100%;
}
.p-name-product:hover{
    cursor: pointer;
    background-color: #b7b7b7;
}
.tr-view-item-table-admin img{
    width: 40%!important;
}
.w-5{
    display: none!important;
}
.view-product-one input , .view-product-one textarea , .view-product-one select{
    width: 100%;
    height: 40px;
    margin:10px 0;
    border: 1px solid #d9d9d9;
    font-family: IRANYekan;
    border-radius: 5px;
    text-align: right;
    direction: rtl;
    outline: none;
    background-color: #ffffff;
    padding: 5px 10px;
    box-sizing: border-box;
}
.selectEm a{
    margin: 10px 10px;
}
.center-obj{
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-product-one img{
    width: 80px;
}
.list-order a:hover{
    background-color: #ff3636;
}
.item-exit-view-min{
    position: absolute;
    cursor: pointer;
}
@keyframes select_item_pen {
    from{
        padding:5px;
        opacity: 100%;
        border: 1px solid #f66c7e;
    }
    to{
        padding:10px;
        opacity: 0;
        border: 1px solid #EF394E;
    }
}
@media (max-width: 1000px) {
    .group-index-view-product {
        height: 1000px;
    }

    .btn-send-card {
        width: 150px;
        padding: 10px;
        border-radius: 10px;
        font-size: 10px !important;
        float: left;
    }

    .view-price-for-mobile {
        display: inherit;
        margin-top: 10px;
        float: right;
    }

    .group-fl {
        display: none;
    }

    .group-buy-product {
        background-color: unset;
        border: none;
    }

    .group-item-buy-product {
        position: fixed;
        bottom: 0;
        z-index: 2;
        left: 0;
        width: 100%;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
        height: 80px;
        border-radius: 10px 10px 0 0;
    }

    .group-image-product-one-page {
        width: 100%;
        height: 50%;
    }

    .group-dis-product-one-page {
        width: 100%;
        height: 50%;
    }
}

@media (max-width: 650px) {
    .group-et span {
        width: 100%;
    }

    .group-view-tb {
        display: none;
    }
}
@media (max-width: 600px) {
    .group-my-order span{
        display: inline-block!important;
    }
    .view-profile-index-user-buy {
        display: none;
    }
    .view-profile-index-user-buy-test{
        display: inline-block!important;
    }
    .view-profile-index-user-profile{
        width: 100%;
    }
}
.view-new-bookmark{
    right: 70px;
}
@media (max-width: 1100px) {
    .group-index-page-banner-up {
        height: 180px;
    }
}

@media (max-width: 800px) {
    .view-banner-up {
        margin: 10px 20%;
        width: 60% !important;
    }
}

@media (max-width: 1000px) {
    .view-slider-products {
        width: 100%;
    }

    .view-timer-products, .view-timer-products * {
        display: none !important;
    }

    .group-index-page-banner-up {
        height: 100%;
    }

    .view-banner-up {
        height: 148px;
        width: 22.5%;
    }
}

@media (max-width: 1350px) and (min-width: 1120px) {
    /*    .view-product-buy-good-list{
            top: -233px;
            position: relative;
        }*/
}

@media (max-width: 900px) and (min-width: 700px) {
    .view-product-buy-good-list {
        top: -233px;
        position: relative;
    }

    .view-product-buy-good-list2 {
        top: 0 !important;
    }
}

@media (max-width: 700px) and (min-width: 450px) {
    .view-product-buy-good-list2 {
        top: 0 !important;
    }
}

@media (max-width: 900px) and (min-width: 800px) {
    .group-index-page-banner-up {
        height: 20%;
    }
}

@media (max-width: 1000px) and (min-width: 900px) {
    .group-index-page-banner-up {
        height: 21% !important;
    }
}

@media (max-width: 700px) and (min-width: 451px) {
    .group-index-page-banner-up {
        height: 67%;
    }

    .view-product-buy-good-list {
        top: -57px;
        position: relative;
    }
}

@media (max-width: 1000px) {
    .view-img-buy-good {
        display: none;
    }

    .view-product-buy-good-list {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .products-menu {
        width: 33.33%;
    }

    .view-products-buy-good {
        margin-top: 90px;
    }

    .span-right-slider-page {
        height: 300px;
    }
}

@media (max-width: 500px) {
    .span-left-slider-page span {
        height: 150px;
        top: -161px !important;
    }

    .group-view-products-slider span {
        margin: 0 1.5% !important;
    }
}

@media (max-width: 900px) {
    .IconHideMenuForMobile{
        display: inline-block;
    }
    .view-option-profile > i{
        display: inline-block;
    }
    .fa-filter {
        display: inline-block;
    }
    .view-menu-profile{
        display: none;
        position: fixed;
        top: 0;
        width: 250px;
        height: 100%;
        right: 0;
        z-index: 10;
    }
.view-option-profile{
    width: 100%;
}
    .view-menu-product {
        width: 100%;
    }

    .view-menu-item-filter i {
        display: block;
        color: #ff5c5c;
    }

    .view-menu-item-filter {
        display: none;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fdfdfd;
    }

    .view-products-buy-good {
        margin-top: 275px;
    }

    .span-right-slider-page {
        width: 100% !important;
    }

    .span-left-slider-page {
        width: 49.5% !important;
    }

    .span-left-slider-page span:nth-child(2) {
        position: relative;
        top: -244px;
        right: 102%;
    }

    .view-all-menu-item {
        display: none;
    }

    .logo-index-page-menu {
        left: 20%;
        display: inline-block;
    }

    .ul-nav-bar li {
        float: unset;
        text-align: right;
    }

    .li-action-edit {
        padding-left: unset;
        border-left: unset;
    }

    .group-menu-index-page {
        background-color: white;
        display: none;
        position: fixed;
        height: 100vh;
        width: 250px;
        padding: 10px 20px;
        z-index: 10;
        box-shadow: 1px 1px 10px rgba(93, 93, 93, 0.5);
        box-sizing: border-box;
        top: 0;
        right: 0;
        /*display: none;*/
    }

    .group-menu-index-page li {
        margin: 20px 0 !important;
    }

    .btn-register {
        position: unset;
    }

    .group-input-search {
        display: none;
    }

    .group-btn-search-for-mobile {
        display: inline-block;
    }

    .btn-search-for-mobile {
        display: inline-block;
        float: right;
        position: relative;
        top: 6px;
        background-color: #f3f3f3;
        right: 1px;
        padding: 5px;
        border-radius: 5px;
        color: #777777;
    }
}

.view-dis-one-product {
    font-size: 14px;
    line-height: 35px;
}

.view-hamta {
    width: 100%;
    background-color: white;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px 0
}
.title-comment{
    font-size: 15px;
}
.text-comment{
    direction: rtl;
    font-size: 13px;
    text-align: right;
    margin-top: 10px;
    line-height: 30px;
}
.view-good-product-not-good{
    font-size: 12px;
    margin-top: 10px;
}
.view-good-product-not-good .good-product{
    color: green!important;
    position: relative;
    top: 2px;
}
.view-good-product-not-good .not-product{
    color: #ff3838 !important;
    position: relative;
    top: 2px;
}
@media (max-width: 450px) {
    .min-view-comment button {
        padding: 5px 10px;
        margin: 10px 5px;
    }
    .view-good-product-not-good{
        font-size: 11px;
    }
    .title-comment{
        font-size: 13px;
    }
    .view-dis-one-product {
        font-size: 11px;
    }

    .view-hamta p {
        font-size: 10px !important;
    }

    .group-view-dis-one-product li {
        font-size: 11px !important;
    }

    .view-hamta p {
        font-size: 10px !important;
    }

    .products-menu .number-off-price {
        transform: scale(0.8);
    }

    .price-product-menu {
        font-size: 13px;
    }

    .p-sm-filter {
        font-size: 12px;
    }

    .p-sm-filter button {
        font-size: 11px;
        margin: 0 !important;
    }

    .btn-register, .btn-register-ok {
        border: none;
        padding: 0;
        margin: 0;
    }

    .view-product-buy-good-list2 {
        top: 0 !important;
        background-color: #6BB927 !important;
    }

    .group-index-page-banner-up {
        height: 115%;
    }

    .view-product-buy-good-list-one {
        width: 70% !important;
        position: relative;
        right: 14%;
    }

    .view-product-buy-good-list {
        top: -160px;
        position: relative;
    }

    .view-products-buy-good {
        margin-top: 70px;
    }

    .span-right-slider-page, .span-left-slider-page {
        width: 100% !important;
    }

    .span-right-slider-page {
        height: 200px;

    }

    .span-left-slider-page span {
        top: 0 !important;
        right: 0 !important;
    }

    .group-user span {
        display: none;

    }

    .group-user .fa-user {
        position: relative;
        left: 30px;
        top: 5px;
        display: inline-block;
        background-color: #f3f3f3;
        right: 1px;
        padding: 5px;
        border-radius: 5px;
        color: #777777;
    }

    .group-user a {
        padding: unset;
        font-size: unset;
        margin-left: unset;
        font-family: IRANY;
        text-decoration: unset;
        border-radius: unset;
        color: unset;
        border: unset;
    }
}
.box-shop{
    width: 95%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
}
.nav-bar-shop-seller{
    border-radius:10px!important; ;
}
.bar-select-shop-seller{
    right: 10px;
    top: 10px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    background-color: #43a1e9;
    color: white;
}
.box-item-shop-seller{
    right: 50px;
    top: 10px;
    border-radius: 100px;
    padding: 10px;
    display: none;
    cursor: pointer;
    color: white;
}
.bar-item-shop-seller{
    background-color: #67a9e5;
    transform: scale(0.8);
    margin-right: 10px;
}
.ul-nav-bar a{
    color: #404040!important;
}
.input_edit_product_seller , .item-select-seller{
    width: 100%;
    height: 40px;
    border: 1px solid #d9d9d9;
    font-family: IRANYekan;
    border-radius: 5px;
    text-align: right;
    direction: rtl;
    outline: none;
    background-color: #ffffff;
    padding: 5px 10px;
    box-sizing: border-box;
}
.view-item-attr-seller{
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: 5px;
    list-style: none;
    transition: 0.3s;
    border-radius: 10px;
}
.view-item-attr-seller:hover{
    background-color: #EF394E;
    color: white;
}
.view-filter-attr-seller{
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: 5px;
    list-style: none;
    transition: 0.3s;
    border-radius: 10px;
}
.view-filter-attr-seller:hover{
    background-color: rgb(69, 36, 255);
    color: white;
}


.page-edit-attr-filter{
    width: 100%;
    max-width: 450px;
    background: rgb(255, 255, 255);
    z-index: 10;
    position: fixed;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: none;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.image-item-product-seller{
    width: 100%;
    height: 100%;
}
.image-item-product-origin-seller{
    border-radius: 10px;

}
.box-img-seller-product{
    width: 120px;
    margin: 20px;
    box-sizing: border-box;
    height: 120px;
    float: left;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 1px 1px 10px rgba(121, 121, 121, 0.5);
    position: relative;
}
.box-img-seller-product i{
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    cursor: pointer;
}
.text-origin{
    width: 105%;
    padding: 1px;
    border-radius: 100px;
    text-align: center;
    position: absolute;
    color: #ffffff;
    box-sizing: border-box;
    bottom: 0;
    background-color: rgb(255, 67, 67);
    left: 0;
}
.box-all-img-seller{
    overflow: auto;
}
.box-seting-edit-product{
    padding: 15px;
    margin: 10px;
    margin: auto;
    overflow: auto;
}
.btn-sendre-product{
    background: unset;
    border: 1px solid #fbd42c;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.btn-sendre-product:hover{
    background-color: #fbd42c;
}
@media (max-width: 600px) {
    .box-seting-edit-product{
        width: 100%!important;
        box-sizing:border-box ;
    }
}
.btn-new-product-seller{
    position: fixed;
    bottom: 20px;
    color: rgb(255, 255, 255);
    width: 45px;
    height: 45px;
    box-shadow: 1px 1px 10px rgba(63, 63, 63, 0.5);
    cursor: pointer;
    border-radius: 50%;
    right: 20px;
    transition: 0.2s;
    background-color: rgb(38, 185, 38);
}
.btn-new-product-seller i{
    position: absolute;
    top: 50%;
    font-size: 20px;
    left: 50%;
    transition: 0.2s;
    transform: translate(-50%,-50%);
}
.btn-new-product-seller:hover{
    transform: scale(1.2);
    box-shadow: 1px 1px 20px rgba(51, 51, 51, 0.5);
}
.btn-new-product-seller:hover .i-in-btn-new-product-seller{
    font-size: 25px;
    color: rgb(255, 255, 255)!important;
}
